<div class="nav">

  <div class="nav-col">
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.png" />
      </a>
    </div>
  </div>

  <div class="nav-col">
    <div class="site-info">
      <li><strong>{{ site.title }}</strong></li>
     <li>{{ site.occupation }}</li>
    </div>
  </div>

  {% assign pages = site.pages | sort:"order" %}
  {% for page in pages %}
    {% if page.title %}
    <div class="nav-col">
      <a href="{{ page.url | prepend: site.baseurl }}"> {{ page.title }} </a>
    </div>
    {% endif %}
  {% endfor %}

</div>
