body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

ul, ol, li {
  list-style: none;
}

a {
  color: $main-color;
  text-decoration: none;

  &:visited {
    color: $main-color;
  }
  &:hover {
    background-color: yellow;
  }
}



.site-content {
  //max-width: $content-width;
}
