body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  background-color: $background-color;
  line-height: $base-line-height;
}

a {
  color: $main-color;
  text-decoration: none;

  &:visited {
    color: $main-color;
  }
  &:hover {
    background-color: yellow;
  }
}

code {
  background-color: $grey-color-light;
  line-height: $base-line-height;
  font-family: Consolas, Monaco, Lucida Console,Courier New, serif;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
  padding-bottom: 2.5px;
}

table {
  border-collapse: collapse;
}

th {
  background-color: $table-header;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {
    background-color: lighten($table-row, 60%);
}
tr:nth-child(odd) {
    background-color: lighten($table-row, 70%);
}

.page-content {
  margin: $spacing;
  max-width: $max-width;
}

.stuff {
  list-style: none;
  line-height: .75;
}
