.home {
  ul, ol {
    margin-left: 0;
  }
}

.project-list {
  list-style-type: none;
  max-width: 950px;
}

.project-links {
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
}
.project-links:hover {
  outline: 3px solid yellow;
}

.project-content {
  line-height: normal;
}

.post-list {
  line-height: 1.5;
}

.post-content {
  h2 {
    border-bottom: solid 1px $grey-color-light;
  }
}

.blockquote {
  flex: 1 100%;
  color: $grey-color;
  padding-left: $spacing-double / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
      margin-bottom: 0;
  }

}
.blockquote-caption {
  display: flex;
  align-self: auto;
  font-size: 14px;
  padding-top: 10px;
  padding-left: $spacing-double * 8;
  padding-bottom: $spacing-double;
}
