.nav {
  max-width: 860px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  @media all and (max-width: 680px) {
    flex-direction: column;

    .site-info {
      text-align: center;
      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.nav-col {
  margin: $spacing;
}

// Shoves the links over to the right by making the site info grow.
.nav-col:nth-child(2) {
  flex: 1.5;
}

.logo {
  height: 100px;
  width: 107px;

  a:hover {
    background-color: unset;
  }

  img {
    height: 100%;
    width: 100%;
  }
}
