.project-list {
  max-width: $max-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 0;

  // Nest this so it only applies on homepage.
  .project {
    margin: 1px;
    &:hover a {
      outline: 3px solid yellow;
    }
  }
}

