.home {
  ul, ol {
    margin-left: 0;
  }
}

.project-list {
  list-style-type: none;
  max-width: 950px;
}

.project-links {
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
}
.project-links:hover {
  outline: 3px solid yellow;
}

.logo {
  height: 100px;
  width: 107px;
  float: left;
  margin-right: 10px;
}

.footer-col-1 {
  float: left;
}

.social-media-list,
.contact-list,
.site-list {
  margin-top: 16px;
}

.project-content {
  line-height: normal;
}

.post-list {
  line-height: 1.5;
}

.post-content {
  h2 {
    border-bottom: solid 1px $grey-color-light;
  }
}
