.nav {
  flex: 1 100%;
  background-color: #FAFAFA;
  line-height: 1;
  font-size: 12px;
}

.nav--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  @media all and (max-width: 600px) {
    /* On small screens, we are no longer using row direction but column */
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

  }
}

.nav--col {
  order: 2;
  margin-right: 20px;
}
.nav--col-0 {
  margin-left: 25px;
  order: 1;
  max-width: 200px;
  margin-right: 10px;

  .logo {
    width: 75px;
    height: auto;
  }
}

.nav--col--list {
    list-style: none;
    margin-left: 0;
}
